<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyA1D0K9_B0Z_j9rTMj2SDkEPIYdLS_UJGA</string>
	<key>GCM_SENDER_ID</key>
	<string>140667211157</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.alertnukeapp</string>
	<key>PROJECT_ID</key>
	<string>alertnuke</string>
	<key>STORAGE_BUCKET</key>
	<string>alertnuke.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:140667211157:ios:1fbb0d1deac2287b1cba9c</string>
</dict>
</plist>